.calc{
    background: #00f;
    color: #fff;
    display: inline-block;
    width: 280px;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
}
.calc h2{
    text-align: center;
    text-decoration: wavy underline;

}
.calc input{
    outline: none;
    border: none;
    font-size: 110%;
    border-radius: 4px;
    padding: 2px 6px;
}
.calc button{
    background: linear-gradient(45deg, #0f0, #ffff00);
    color: #fff;
    outline: none;
    border: none;
    font-size: 105%;
    width: 180px;
    height: 30px;
    border-radius: 4px;
    transition: 0.6s linear;
}
.calc button:hover{
    cursor: pointer;
    background: linear-gradient(45deg, #ffff00, #0f0);
    border-radius: 12px;
}
.calc output{

}